.d {
  position: absolute;
  top: 19.19px;
  left: 14.2px;
  letter-spacing: 0.1em;
  line-height: 164.8%;
  display: inline-block;
  width: 49.23px;
  height: 37.87px;
}
.d-mode-icon-child {
  position: absolute;
  top: 0;
  left: 35.03px;
  width: 35.97px;
  height: 27.71px;
  object-fit: cover;
}
.d-mode-icon-item {
  position: absolute;
  top: 44.49px;
  left: 0;
  width: 35.03px;
  height: 28.66px;
  object-fit: contain;
}
.d-mode-icon {
  position: absolute;
  top: 10px;
  left: 610px;
  width: 71px;
  height: 73.15px;
  text-align: left;
  font-size: 31.5px;
  font-family: var(--font-noto-sans-javanese);
}
.p9-child {
  position: absolute;
  top: 954.97px;
  left: 0;
  background-color: #151515;
  width: 1268.7px;
  height: 297.79px;
}
.holo-logo,
.logo-icon {
  position: absolute;
  width: 153.3px;
  height: 153.3px;
}
.logo-icon {
  top: 0;
  left: 0;
  object-fit: cover;
}
.holo-logo {
  top: 979.72px;
  left: 223.79px;
}
.fees,
.press,
.team {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 150%;
}
.fees,
.press {
  top: 65.2px;
}
.fees {
  top: 130.39px;
  left: 0.88px;
}
.team-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 156.39px;
}
.links,
.services-parent,
.terms-of-use-parent {
  position: absolute;
  top: 0;
  left: 141.85px;
  width: 67px;
  height: 156.39px;
}
.links,
.terms-of-use-parent {
  left: 305.72px;
  width: 109px;
}
.links {
  top: 1025.53px;
  left: 624.66px;
  width: 414.72px;
  text-align: left;
  font-size: 17.62px;
  font-family: var(--font-roboto);
}
.all-right-reserved {
  margin: 0;
}
.copyright-2023-container {
  position: absolute;
  top: 1113.64px;
  left: 217.62px;
  font-size: 17.62px;
  line-height: 150%;
  font-family: var(--font-roboto);
  text-align: left;
}
.hamburger-child {
  position: absolute;
  top: 95.35px;
  left: 20.46px;
  border-radius: 21.15px;
  background-color: var(--color-darkslategray);
  width: 133.04px;
  height: 140.97px;
}
.hamburger-with-lot-vegetables-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 175.72px;
  height: 175.72px;
  object-fit: contain;
}
.hamburger1 {
  position: absolute;
  top: 0;
  left: 8.81px;
  display: inline-block;
  text-align: left;
  width: 92.51px;
  height: 19.38px;
}
.p,
.starting-from {
  margin-block-start: 0;
  margin-block-end: 0.88px;
}
.p {
  font-size: var(--font-size-sm-1);
  color: var(--color-white);
}
.p1 {
  margin: 0;
  font-size: var(--font-size-base-6);
}
.starting-from-container {
  position: absolute;
  top: 22.03px;
  left: 13.22px;
  display: inline-block;
  width: 83.7px;
  height: 31.72px;
  font-size: var(--font-size-3xs-6);
  color: var(--color-darkgray-100);
}
.span {
  color: var(--color-darkgray-200);
}
.p2,
.total-sale1 {
  margin-block-start: 0;
  margin-block-end: 0.64px;
}
.total-sale1 {
  font-size: var(--font-size-3xs-5);
  color: var(--color-white);
}
.p3 {
  margin: 0;
  font-size: var(--font-size-smi-1);
}
.div,
.total-sale {
  position: absolute;
  display: inline-block;
}
.total-sale {
  top: 53.24px;
  left: 51.1px;
  text-align: right;
  width: 60.79px;
  height: 23.04px;
  font-size: var(--font-size-6xs-9);
  color: var(--color-silver);
}
.div {
  top: 59.91px;
  left: 8.81px;
  font-size: 9.57px;
  color: var(--color-darkgray-200);
  width: 24.67px;
  height: 10.57px;
}
.hamburger-price-child {
  position: absolute;
  top: 59.03px;
  left: 0;
  border-radius: 0.44px;
  width: 11.45px;
  height: 11.45px;
  object-fit: cover;
}
.hamburger-price {
  position: absolute;
  top: 150.86px;
  left: 31.92px;
  width: 111.89px;
  height: 76.28px;
}
.hamburger,
.pizza-child {
  position: absolute;
  top: 681px;
  left: -0.3px;
  width: 175.72px;
  height: 236.32px;
}
.pizza-child {
  top: 66.08px;
  left: 21.14px;
  border-radius: 21.15px;
  background-color: var(--color-darkslategray);
  width: 133.04px;
  height: 140.97px;
}
.f-560708240-pmzpousfvblwgroaiz-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 181.5px;
  height: 121px;
  object-fit: cover;
}
.pizza1 {
  position: absolute;
  top: 0;
  left: 8.81px;
  display: inline-block;
  width: 92.51px;
  height: 19.38px;
}
.pizza-price {
  position: absolute;
  top: 121.58px;
  left: 31.72px;
  width: 111.89px;
  height: 76.28px;
}
.pizza,
.sushi-child {
  position: absolute;
  top: 710.27px;
  left: 236.43px;
  width: 181.5px;
  height: 207.05px;
}
.sushi-child {
  top: 47.88px;
  left: 8.62px;
  border-radius: 29.57px;
  background-color: var(--color-darkslategray);
  width: 186.03px;
  height: 197.12px;
}
.sushi1 {
  position: absolute;
  top: 0;
  left: 12.32px;
  display: inline-block;
  width: 129.36px;
  height: 27.1px;
}
.p8,
.starting-from2 {
  margin-block-start: 0;
  margin-block-end: 1.23px;
}
.p8 {
  font-size: 18.3px;
  color: var(--color-white);
}
.p10 {
  margin: 0;
  font-size: 23.2px;
}
.starting-from-container2 {
  position: absolute;
  top: 30.8px;
  left: 18.48px;
  display: inline-block;
  width: 117.04px;
  height: 44.35px;
  font-size: 13.4px;
  color: var(--color-darkgray-100);
}
.p11,
.total-sale5 {
  margin-block-start: 0;
  margin-block-end: 0.89px;
}
.total-sale5 {
  font-size: 13.3px;
  color: var(--color-white);
}
.p12 {
  margin: 0;
  font-size: 16.9px;
}
.div2,
.total-sale4 {
  position: absolute;
  display: inline-block;
}
.total-sale4 {
  top: 74.45px;
  left: 71.46px;
  text-align: right;
  width: 85.01px;
  height: 32.21px;
  font-size: 9.7px;
  color: var(--color-silver);
}
.div2 {
  top: 83.78px;
  left: 12.32px;
  font-size: 13.38px;
  color: var(--color-darkgray-200);
  width: 34.5px;
  height: 14.78px;
}
.sushi-price-child {
  position: absolute;
  top: 82.55px;
  left: 0;
  border-radius: 0.62px;
  width: 16.02px;
  height: 16.02px;
  object-fit: cover;
}
.sushi-price {
  position: absolute;
  top: 125.49px;
  left: 23.41px;
  width: 156.47px;
  height: 106.66px;
}
.fresh-seafood-plate-with-sashi-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 204.51px;
  height: 116.96px;
  object-fit: cover;
}
.sushi {
  position: absolute;
  top: 710px;
  left: 449.79px;
  width: 204.51px;
  height: 245px;
  font-size: 23.23px;
}
.fried-fish-child {
  position: absolute;
  top: 88.99px;
  left: 7.05px;
  border-radius: 21.15px;
  background-color: var(--color-darkslategray);
  width: 133.04px;
  height: 140.97px;
}
.starting-from-container3 {
  position: absolute;
  top: 22.03px;
  left: 13.21px;
  display: inline-block;
  width: 83.7px;
  height: 31.72px;
  font-size: var(--font-size-3xs-6);
  color: var(--color-darkgray-100);
}
.fried-fish-price {
  position: absolute;
  top: 142.73px;
  left: 17.62px;
  width: 111.89px;
  height: 76.28px;
}
.grilled-salmon-delicious-food-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 140.97px;
  height: 142.73px;
  object-fit: cover;
}
.fried-fish,
.thali-child {
  position: absolute;
  top: 689.13px;
  left: 686.17px;
  width: 140.97px;
  height: 229.95px;
}
.thali-child {
  top: 44.93px;
  left: 16.74px;
  border-radius: 21.15px;
  background-color: var(--color-darkslategray);
  width: 133.04px;
  height: 140.97px;
}
.starting-from-container4 {
  top: 22.03px;
  left: 13.32px;
  width: 84.36px;
  height: 31.72px;
  font-size: var(--font-size-3xs-6);
  color: var(--color-darkgray-100);
}
.div4,
.starting-from-container4,
.total-sale8 {
  position: absolute;
  display: inline-block;
}
.total-sale8 {
  top: 53.24px;
  left: 51.5px;
  text-align: right;
  width: 61.27px;
  height: 23.04px;
  font-size: var(--font-size-6xs-9);
  color: var(--color-silver);
}
.div4 {
  top: 59.91px;
  left: 8.88px;
  font-size: 9.57px;
  color: var(--color-darkgray-200);
  width: 24.86px;
  height: 10.57px;
}
.thali-price-child {
  position: absolute;
  top: 59.03px;
  left: 0;
  border-radius: 0.44px;
  width: 11.54px;
  height: 11.45px;
  object-fit: cover;
}
.thali-price {
  position: absolute;
  top: 98.68px;
  left: 27.31px;
  width: 112.77px;
  height: 76.28px;
}
.gourmet-bowl-with-healthy-rice-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 161.23px;
  height: 92.51px;
  object-fit: cover;
}
.chiccken-child,
.thali {
  position: absolute;
  top: 733.18px;
  left: 888.14px;
  width: 161.23px;
  height: 185.9px;
}
.chiccken-child {
  top: 50.22px;
  left: 8.81px;
  border-radius: 21.15px;
  background-color: var(--color-darkslategray);
  width: 133.04px;
  height: 140.97px;
}
.chicken {
  position: absolute;
  top: 0;
  left: 8.88px;
  display: inline-block;
  width: 93.24px;
  height: 19.38px;
}
.chicken-price {
  position: absolute;
  top: 103.96px;
  left: 19.38px;
  width: 112.77px;
  height: 76.28px;
}
.f-610959654-h69as5xqmkedi4v9wv-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 151.54px;
  height: 101.32px;
  object-fit: cover;
}
.chiccken,
.p9-item {
  position: absolute;
  top: 727.89px;
  left: 1110.37px;
  width: 151.54px;
  height: 191.19px;
}
.p9-item {
  top: 397px;
  left: 1156px;
  width: 42.29px;
  height: 84.58px;
  object-fit: cover;
}
.d-path {
  position: absolute;
  top: 121px;
  left: 258px;
  background-color: transparent;
  width: 844px;
  height: 589px;
}
.order-button-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 110.13px;
  height: 176.21px;
  object-fit: cover;
}
.order {
  position: absolute;
  top: 22.03px;
  left: 16.74px;
  letter-spacing: 0.12em;
  display: inline-block;
  width: 86.34px;
  height: 28.19px;
}
.errow-icon {
  position: absolute;
  top: 59.03px;
  left: 23.12px;
  width: 64.63px;
  height: 105.39px;
  object-fit: cover;
}
.order-button {
  position: absolute;
  top: 14px;
  left: 131px;
  width: 110.13px;
  height: 176.21px;
  text-align: left;
  font-size: 23.79px;
}
.cancel {
  position: absolute;
  top: 22.03px;
  left: 12.33px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 89.87px;
  height: 28.19px;
}
.errow-icon1 {
  position: absolute;
  top: 59.03px;
  left: 22.91px;
  width: 64.63px;
  height: 105.39px;
  object-fit: cover;
}
.cancel-button {
  position: absolute;
  top: 14px;
  left: 1122px;
  width: 110.13px;
  height: 176.21px;
  text-align: left;
  font-size: 23.79px;
}
.back-btn-icon {
  position: absolute;
  top: 19px;
  left: 32px;
  width: 70px;
  height: 71.71px;
  object-fit: cover;
  cursor: pointer;
}
.p9-inner {
  position: absolute;
  top: 397px;
  left: 165.3px;
  width: 42.29px;
  height: 84.58px;
  object-fit: contain;
}
.p9 {
  position: relative;
  background-color: #1d1d1d;
  width: 100%;
  height: 1252.84px;
  overflow: hidden;
  text-align: center;
  font-size: 16.61px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
