body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-roboto: Roboto;
  --font-noto-sans-javanese: "Noto Sans Javanese";

  /* font sizes */
  --font-size-mid-6: 17.6px;
  --font-size-mini-7: 14.7px;

  /* Colors */
  --color-gray-100: #1d1d1d;
  --color-white: #fff;
  --color-tomato: #ee5d55;

  /* Border radiuses */
  --br-12xs: 1px;
}
