body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-noto-sans-javanese: "Noto Sans Javanese";

  /* font sizes */
  --font-size-mid-6: 17.6px;
  --font-size-3xs-6: 9.6px;
  --font-size-smi-1: 12.1px;
  --font-size-3xs-5: 9.5px;
  --font-size-6xs-9: 6.9px;
  --font-size-base-6: 16.6px;
  --font-size-sm-1: 13.1px;
  --font-size-mini-7: 14.7px;

  /* Colors */
  --color-gray-100: #1d1d1d;
  --color-darkslategray-100: #303030;
  --color-white: #fff;
  --color-darkgray-100: #b1b1b1;
  --color-darkgray-200: #9f9f9f;
  --color-silver: #bbb8b8;
  --color-tomato: #ee5d55;

  /* Border radiuses */
  --br-12xs-4: 0.4px;
  --br-2xl-1: 21.1px;
  --br-9xs-4: 3.4px;
  --br-12xs: 1px;
}
